<%= render 'navigation' %>

<h1>Login Student</h1>

<%= flash[:notice] %> <br>

<%= form_for(:session, url: create_session_path) do |f| %>

<input type="hidden" name="user" value="student">

Username: <%= f.text_field :username %> <br>

Password: <%= f.password_field :password %> <br>

<%= f.submit %>

<% end %>
