<%= render 'navigation' %>

<div class="mentor-info">
  <h2><%= @mentor.username %> - Phase: <%= @mentor.phase %></h2>
<h2>Info: </h2>
<%= @mentor.username %><br>
<%= @mentor.email %>
</div>

<h2> Upcoming Appointments </h2>
<ul>
  <div>
    <% @future_appointments.each do |app| %>
    <li> <%= app.availabilities.first.start_time %> with <%= app.availabilities.first.mentor.username %> on <%= app.topic.name %></li>

    <% end %> <br>
  </div>
</ul>

<h2> Past Appointments </h2>
<ul>
  <div>
    <% @past_appointments.each do |app| %>
    <li> <%= app.availabilities.first.start_time %> with <%= app.availabilities.first.mentor.username %> on <%= app.topic.name %></li>

    <% end %> <br>
  </div>
</ul>

<div class="skill-list">
  <h3> Skills </h3>
  <%= render partial: "skill_list", locals: {mentor: @mentor} %>
  <p><%= link_to "Add New Skill", new_mentor_skill_path(@mentor) %></p>
</div>

<div class="availability-list">
  <h3> Availabilities </h3>
  <%= render partial: "availability_list", locals: {mentor: @mentor} %>
</div>

<dir class="add-availability-link">
	<%= link_to "Add Availability", new_mentor_availability_path(@mentor)%>
</dir>

